body {
    font-family: 'Roboto', sans-serif;
    color: #666666;
    line-height: 1.5em;
    position: relative;    
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none
}

.text {
    margin-left: 20vw;
    margin-right: 20vw;
}

@media only screen and { max-width < 1024px } {
    .text {
        margin-left: 10vw;
        margin-right: 10vw;
    }
}

h1 {
    font-size: 5em;
    font-family: serif;
    font-weight: bolder;
    line-height: 0.8em;
}

p {
    font-family: sans-serif;
    color: #666;
}

nav {
    background-color: #14B9FF;
    width: 100%;
    height: 100%;
    position: fixed;
    text-align: right;
    left: 0;
    top: 0;
}
nav ul {
    position: relative;
    width: 250px;
    margin-top: 75px;
    margin-right: 20px;
    float: right;
}
nav ul:hover li a {
    color: rgba(255, 255, 255, 0.5);
}
nav ul li a {
    transition-duration: 0.25s;
    display: block;
    padding: 5px 40px;
    color: white;
    letter-spacing: 0.02em;
    text-align: left;
    font-family: sans-serif;
}
nav ul li:hover a {
    cursor: pointer;
    color: white;
}

.openNav {
    transition-duration: 0.5s;
    transition-timing-function: swing;
    width: 50px;
    height: 50px;
    background-color: #14B9FF;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9;
}
.openNav:hover {
    cursor: pointer;
}
.openNav .icon {
    transition-duration: 0.2s;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: white;
    top: 24px;
    left: 10px;
}
.openNav .icon:before,
.openNav .icon:after {
    transition-duration: 0.5s;
    background-color: white;
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    left: 0px;
}
.openNav .icon:before {
    top: -7px;
}
.openNav .icon:after {
    top: 7px;
}
.openNav.open {
    transform: translateX(-260px) translateY(60px);
    -webkit-transform: translateX(-260px) translateY(60px);
}
.openNav.open .icon {
    background-color: transparent;
}
.openNav.open .icon:before,
.openNav.open .icon:after {
    top: 0;
}
.openNav.open .icon:before {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.openNav.open .icon:after {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.navOpen {
    overflow: hidden;
}

.wrapper {
    transition-duration: 0.5s;
    transition-timing-function: swing;
    background-color: #fff;
    height: 100%;
    position: relative;
    padding: 100px 100px;
}

.wrapper.open {
    transform: translateX(-260px) translateY(60px);
    -webkit-transform: translateX(-260px) translateY(60px);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}