/*
    Colori
        Primario sfondo: #11192D
        Rosso accento: #FF1453
*/

#ids {
    position: relative;
}

.container {
    position: relative;
    float: left;
    width: 75%;
    display: inline;
    left: 75px;
    margin: 50px 0;
}

.email {
    position: relative;
    
    font-family: monospace;
    font-weight: bold;
    font-style: normal;
    font-size: 10pt;
    letter-spacing: 1;
    color: #fff;
    background-color: #FF1453;
    padding: 1px 4px;
/*  
    text-transform: uppercase;
*/
    
}

.nomeCognome {
    position: relative;
    color: white;
    background-color: #11192D;
    font-family: 'serif';
    font-weight: bold;
    font-size: 48pt;
    
    top: 10px;
    left: -15px;
    padding: 0px 14px 6px 14px;
}

.descrizione {   
    font-family: monospace;
    font-size: 10pt;
    color: #11192D;
    line-height: 1.5;

    position: relative;
    width: 300px;
    float: left;
    top: 24px;
}

.verticalLine {
    position: relative;
    left: 200px;
    width: 1px;
    height: 50px;
    background-color: #11192D;
    clear: both;
    margin-top: 20px;
}

@media only screen and (max-width: 640px) {
    
    .container {
        left: 25px;
    }
    
    .email {
        font-size: 8pt;
        letter-spacing: 0;
    }

    .nomeCognome {
        font-size: 32pt;
    }

    .descrizione {   
        font-size: 10pt;
        width: 275px;
    }

    .verticalLine {
        left: 125px;
    }

}